<table class="table">
    <tbody>
        <tr>
            <td ng-repeat="group in groups">
                <h3 ng-bind="group.name"></h3>
                <div class="well well-sm">
                    <div class="well well-sm" ng-repeat="user in users | filter: {groupName: group.name}">
                        <h5>
                            <span ng-bind="user.name.first"></span>
                            <span ng-bind="user.name.last"></span>
                        </h5>
                        <div>
                            <span ng-bind="user.groupName"></span>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>
